.card-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.load-more-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
